/* jetbrains-mono-regular - latin-ext */
@font-face {
  font-display: swap;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400&display=swap&subset=latin-ext');
}

/* jetbrains-mono-bold - latin-ext */
@font-face {
  font-display: swap;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  src: url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap&subset=latin-ext');
}

/* jetbrains-mono-italic - latin-ext */
@font-face {
  font-display: swap;
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 400;
  src: url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@1,400&display=swap&subset=latin-ext');
}

/* jetbrains-mono-bold-italic - latin-ext */
@font-face {
  font-display: swap;
  font-family: 'JetBrains Mono';
  font-style: italic;
  font-weight: 700;
  src: url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@1,700&display=swap&subset=latin-ext');
}